# NLP RECSYS dataset subselection

Use a smaller subset for more advanced predictions

In [2]:
import com.johnsnowlabs.nlp.SparkNLP
import com.johnsnowlabs.nlp.annotator._
import com.johnsnowlabs.nlp.base._
import org.apache.spark.ml.{Pipeline, PipelineModel, Transformer}
import org.apache.spark.sql.types._
import org.apache.spark.sql.SaveMode
import org.apache.spark.sql.functions.{udf,to_timestamp}
import org.apache.spark.storage._
import org.apache.spark.ml.feature._
import org.apache.spark.ml.classification._
import org.apache.spark.ml.linalg.DenseVector
import org.apache.spark.ml.param.{Param, ParamMap}
import org.apache.spark.ml.util.{DefaultParamsReadable, DefaultParamsWritable, Identifiable}
import org.apache.spark.sql.{DataFrame, Dataset}
import org.apache.spark.sql.SparkSession
import org.apache.spark.sql.functions.{col, explode, udf}
import org.apache.spark.sql.types.{DataTypes, StructType}


val dataDir = sys.env("HOME") + "/recsys2020"
val dsName = "training"

In [1]:
val df = spark.read.parquet(dataDir + s"/${dsName}.parquet")

In [3]:
df

[user_id: string, tweet_id: string ... 17 more fields]

In [4]:
val num_user_interactions = df.groupBy("user_id").count()
num_user_interactions.show

+--------------------+-----+
|             user_id|count|
+--------------------+-----+
|6DB36629F09EEF6B0...|    5|
|6DB3CB729521B094E...|    6|
|6DB935FBE5AFB72C0...|    5|
|6DB9B1833E6F6B16D...|    5|
|6DBA6B1E954B4D4AA...|    9|
|6DBC5460B25D693AC...|   15|
|6DBC89235E5F715CF...|    8|
|6DC28C6B6E1E45CE4...|   55|
|6DC66F416E5010527...|   13|
|6DC79920B693257A4...|    4|
|6DC8D079EA2CEDC84...|    3|
|6DCC26641F198AE2C...|   13|
|6DCD8B083F0AA9BF2...|   19|
|6DD212AFBAB897074...|    3|
|6DD3132C30767176B...|    4|
|6DD3CEC47DEA7CC2D...|    8|
|6DD5B319ED8EF914B...|    3|
|6DDC42DEDEA6E6DF2...|    6|
|6DDD8632D48677C3F...|   14|
|6DDFBF4ED82A25E05...|    7|
+--------------------+-----+
only showing top 20 rows

In [5]:
print(num_user_interactions.count())
print(num_user_interactions.select(avg($"count")).show)
print(num_user_interactions.select(sum($"count")).show)

24429989+-----------------+
|       avg(count)|
+-----------------+
|5.591499938866121|
+-----------------+

()+----------+
|sum(count)|
+----------+
| 136600282|
+----------+

()

In [6]:
val fraction = 0.01 
val sampled_users = num_user_interactions.sample(fraction)
print(sampled_users.count())
print(sampled_users.select(avg($"count")).show)
print(sampled_users.select(sum($"count")).show)

243927+-----------------+
|       avg(count)|
+-----------------+
|5.601483230638674|
+-----------------+

()+----------+
|sum(count)|
+----------+
|   1366353|
+----------+

()

In [7]:
val allowed_user_list = sampled_users.select("user_id").rdd.map(r => r(0)).collect().toList

In [8]:
val filtered_df = df.filter($"user_id".isin(allowed_user_list:_*))
filtered_df.show()

+--------------------+--------------------+----------+------------------------------+---------------------+----------------------+------------------+-------------------+--------------------+----------------+-------+---------------+--------------------+--------------+--------------------+-----------+------------------------+--------+---------+
|             user_id|            tweet_id|tweet_type|                    tweet_text|author_follower_count|author_following_count|author_is_verified|user_follower_count|user_following_count|user_is_verified|follows|tweet_timestamp|            hashtags| present_media|     present_domains|has_retweet|has_retweet_with_comment|has_like|has_reply|
+--------------------+--------------------+----------+------------------------------+---------------------+----------------------+------------------+-------------------+--------------------+----------------+-------+---------------+--------------------+--------------+--------------------+-----------+------------------------+--------+---------+
|6DB2E5D195B4E0491...|0FD219DA47EF6586E...|   Retweet|          RT @sharma_punees...|               379960|                    36|                 0|                124|                  25|               0|      0|     1581061890|[AA42C1055D2EE9DA...|          null|                null|          0|                       0|       1|        0|
|6DB487DC871EB3FC4...|0B01DFD6E069801A7...|  TopLevel|          / beauty / https:...|                90888|                 14108|                 0|                 14|                  49|               0|      0|     1581243313|                null|       [Photo]|                null|          0|                       0|       0|        0|
|6DB487DC871EB3FC4...|E5FC04EB514E7B98E...|  TopLevel|          Peringatan dini c...|              4747098|                    28|                 1|                 14|                  48|               0|      0|     1580965228|[BA973311137A6ECE...|          null|[A76B618F74CC7D2A...|          0|                       0|       0|        0|
|6DB6ACE4D7C90A598...|DFCE2EFC1CAB33B90...|   Retweet|          RT @powerhinotti ...|                  948|                   546|                 0|                238|                  53|               0|      1|     1581473810|                null|          null|                null|          0|                       0|       0|        0|
|6DB84420A6B8194A7...|57C9BBBB45495AE99...|   Retweet|          RT @CampaignCamo ...|                 1047|                   367|                 0|               1006|                 562|               0|      1|     1581234749|                null|          null|                null|          0|                       0|       0|        0|
|6DB94B60FFCB740B9...|593751C27699174EF...|  TopLevel|          I m finally filli...|                 1064|                  3477|                 0|               1185|                 519|               0|      1|     1581372604|                null|          null|                null|          0|                       0|       1|        0|
|6DB9DF1F1ACED2942...|17EDC3FC5BB7D6F23...|  TopLevel|   한복입어써 . . . 한복 . . .|                 4965|                   313|                 0|                  6|                  86|               0|      0|     1580993054|                null|          null|                null|          0|                       0|       0|        0|
|6DBC1FEC7C2A41162...|71BCE0755CF2D369B...|   Retweet|          RT @faraznddn : i...|                 3632|                  1818|                 0|                 10|                 174|               0|      0|     1581339737|                null|          null|                null|          0|                       0|       0|        0|
|6DBC3E1F9D76D9A6D...|0F6F21D72FB61DB38...|     Quote|ついに 公 開 まであと2 日 ....|              2205273|                   211|                 1|                 17|                  71|               0|      0|     1581304549|                null|          null|                null|          0|                       0|       0|        0|
|6DBC4ADF3B81BCBC2...|E5563137EEC4D98C0...|     Quote|宇 宙 怪 獣 、 男 性 だけど...|                  878|                   730|                 0|                214|                 282|               0|      1|     1581285925|                null|          null|                null|          0|                       0|       1|        0|
|6DBD83FA0620F9C95...|225C88E30E64377BC...|   Retweet|          RT @LCFC : Leices...|             21283009|                    83|                 1|                 58|                  53|               0|      0|     1581195147|[80D4DF964369F456...|       [Photo]|                null|          0|                       0|       0|        0|
|6DC1C61AB6CB5BC5F...|2198259322D060837...|   Retweet|          RT @SSJreef : Lit...|                  230|                   340|                 0|                411|                 427|               0|      1|     1581108596|                null|       [Photo]|                null|          0|                       0|       0|        0|
|6DC1D8B93C4FE91F6...|DE63F01D4C11C1D27...|   Retweet|          RT @hypnosis_on :...|                   62|                    98|                 0|                444|                 472|               0|      1|     1581157412|                null|       [Photo]|                null|          0|                       0|       0|        0|
|6DC28469AFF9C239B...|79DDA41CAD0494B1C...|   Retweet|        RT @Onewroot : 오뉴...|                21023|                   916|                 0|                 24|                 397|               0|      0|     1581499905|                null|[Photo, Photo]|                null|          0|                       0|       1|        0|
|6DC3AA8AAF0B1D7BC...|7526F97CC85EDF5BA...|  TopLevel|          Shaq announces he...|              8066050|                   634|                 1|                851|                 527|               0|      0|     1581358018|                null|[Photo, Photo]|                null|          0|                       0|       0|        0|
|6DC3AA8AAF0B1D7BC...|919AE289F85817C87...|   Retweet|          RT @yung_naj1 : I...|                   81|                    65|                 0|                851|                 526|               0|      1|     1581121590|                null|          null|                null|          0|                       0|       0|        0|
|6DC6DF41A7946DD03...|3DE2785FBE55D3FDB...|  TopLevel|          The town motto of...|              1162236|                   989|                 1|                222|                 298|               0|      0|     1581163200|                null|          null|                null|          0|                       0|       0|        0|
|6DC79CE4BCB1309D0...|CAF78DA672A4A84EE...|  TopLevel|          chemotherapy : qu...|               248461|                   178|                 0|                 18|                 117|               0|      0|     1581427502|                null|          null|                null|          0|                       0|       0|        0|
|6DCA35927D267D86C...|523329F7ED9DE0D06...|  TopLevel|          You know what I e...|                  194|                   561|                 0|               2729|                3867|               0|      1|     1581018976|[D0D00FF15B65A673...|       [Photo]|                null|          0|                       0|       1|        0|
|6DCA35927D267D86C...|B9E9AAF6A448B4B59...|     Quote|          I ll say it again...|                  574|                  1413|                 0|               2729|                3867|               0|      1|     1581446558|[5B1AA5D8FD1601C0...|          null|                null|          1|                       0|       1|        0|
+--------------------+--------------------+----------+------------------------------+---------------------+----------------------+------------------+-------------------+--------------------+----------------+-------+---------------+--------------------+--------------+--------------------+-----------+------------------------+--------+---------+
only showing top 20 rows

In [9]:
val outDsName = "user_sampled"
filtered_df.write.mode(SaveMode.Overwrite).parquet(dataDir + s"/${outDsName}.parquet")
// filtered_df.write.mode(SaveMode.Overwrite).parquet(sys.env("HOME") + s"/${outDsName}.parquet")

In [10]:
filtered_df.count().show